body {
  text-align: center;
  margin: 0;
}

h1 {
  color: #f40552;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin: 100px auto 50px auto;
  font-size: 6rem;
}

h1:hover {
  color: #ff287d;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 20%;
  width: 60%;
  font-size: 20px;
  line-height: 1.5;
  color: #7d5a5a;
}

.container-class {
  background-color: #c3edea;
}

/* DIV CONTAINER */

.container-div {
  margin-bottom: 40px;
}

span {
  font-size: 40px;
}

.container-ml {
  display: inline-block;
}
