h1 {
    font-family: 'Montserrat', sans-serif;
    color: #f40552;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #7d5a5a;
}

li {
  font-family: 'Ubuntu', sans-serif;
  color: #99b898;
}
