h1 {
  color: #f40552;
    font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #99b898;
  font-family: 'Montserrat', monospace;
}

.form-control {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #679b9b;
  background-color: #e8e4e1;
}

.info {
  width: 100px;
  padding: 8px 10px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(120deg,#f40552,#ffcbcb);
  position: relative;
  right: 5%;
  top: 5px;
}

.info:hover {
  padding: 9px 11px;
  background: linear-gradient(120deg, #ffcbcb, #f40552);
}

i {
  color: #fff;
}
